<%= bootstrap_form_for(@question) do |f| %>

  <div class="field">
    <%= f.label :index %><br>
    <p><%= @question.index %></p>
    <%= f.hidden_field :index %>
  </div>
  <div class="field">
    <%= f.select :need_check, ["なし","教員", "学生"]%>
  </div>
  <div class="field">
    <%= f.number_field :point %>
  </div>
  <div class="field">
    <%= f.text_area :contents %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
