<p id="notice"><%= notice %></p>

<p>
  <strong>問題番号:</strong>
  <%= @question.index %>
</p>

<p>
  <strong>要チェック:</strong>
  <%= @question.need_check %>
</p>

<p>
  <strong>質問内容:</strong>
  <%= @question.contents %>
</p>


<%= link_to assignment_path(current_user.assignments.where(paper_id: @question.paper).first()), :class => "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span> Back
<% end %>