<p>課題チェック</p>
  <%= form_for(@source.answer, html: {multipart: true}) do |f| %>
  <label>DONE:<%= f.radio_button :status, 'DONE' %></label><br />
  <label>UPLOAD:<%= f.radio_button :status, 'UPLOAD' %></label><br />
  <label>WAITING:<%= f.radio_button :status, 'WAITING' %></label>
  <div class="actions">
    <%= submit_tag "チェック" %>
  </div>
  <% end %>