<h4>課題チェック</h4>
  <%= bootstrap_form_for(@source.answer, html: {multipart: true}) do |f| %>
 	<%= f.radio_button :status, 'DONE', label: "DONE"%>
  	<%= f.radio_button :status, 'UPLOAD', label: "UPLOAD" %>
	<%= f.radio_button :status, 'WAITING', label: "WAITING" %>
    <%= f.submit "チェック" %>
  <% end %>