<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @source.filename %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @source.content_type %>
</p>

<p>
  <strong>Filesize:</strong>
  <%= @source.filesize %>
</p>

<p>
  <strong>Code:</strong>

<pre class="brush: c">
<%= @source.code %>
</pre>

</p>

<p>
  <strong>Answer_id:</strong>
  <%= @source.answer_id %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
