<p id="notice"><%= notice %></p>

<h3>課題番号：第<%= @source.answer.assignment.paper.index %>回</h3>
<h4>出題日：<%= simple_date(@source.answer.assignment.paper.given_date) %></h4>
<h4>問題番号：<%= @source.answer.question.index %>問目</h4>

<p>
  <strong>Filename:</strong>
  <%= @source.filename %><br>
 <strong>Checked_by:</strong>
  <%= @source.answer.checked_by %>
</p>

<pre class="brush: c">
<%= @source.code.force_encoding("utf-8") %>
</pre>

<hr>
  <% if current_user.roles.exists?(name: 'member') %>
  <%= render 'sources/student' %>
  <% else %>
  <%= render 'sources/teacher' %>
  <% end %>
<hr>

<%= link_to 'Back', assignments_show_path(id: @source.answer.assignment) %>