<h1>学生 提出用画面</h1>

<table border=1>
  <thead>
    <tr>
      <th>課題番号</th>
      <th>出題日</th>
      <th>設問数</th>
      <th>未完了設問数</th>
      <th>達成度</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to '第' + assignment.paper.index.to_s + '回', {action: :show, id: assignment.id} %></td>
        <td><%= simple_date(assignment.paper.given_date)%></td>
        <td><%= assignment.paper.questions.length %></td>
        <td><%= assignment.undone_answers.length %></td>
        <td><%= assignment.progress %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
