<p id="notice"><%= notice %></p>


<h3>課題番号：第<%= @assignment.paper.index %>回</h3>
<h4>出題日：<%= simple_date(@assignment.paper.given_date) %></h4>

<hr>

<table border=1>
  <thead>
    <tr>
      <th>問題番号</th>
      <th width="200">設問内容</th>
      <th>要チェック</th>
      <th>ステータス</th>
      <th>Checked by</th>
      <th>提出ファイル</th>
    </tr>
  </thead>

  <tbody>
    <% @assignment.paper.questions.each do |question| %>
      <tr>
        <td><%= question.index %></td>
        <td><%= question.contents %></td>
        <td><%= question.need_check %></td>
        <td><%= Answer.where(question_id: question).find_by(user_id: current_user).status %></td>
        <td><%= Answer.where(question_id: question).find_by(user_id: current_user).checked_by %></td>
        <td>
        	<% if question.getfilename(question.id, current_user)=="none" %>
            <%= form_for(@source, url: {controller: :sources, action: :create, answer_id: Answer.where(question_id: question).find_by(user_id: current_user)}) do |f| %>
              <% if @source.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@source.errors.count, "error") %> prohibited this paper from being saved:</h2>
                  <ul>
                    <% @source.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.file_field :avatar %>
            </div>
            <div class="actions">
              <%= submit_tag "Upload" %>
            </div>
           <% end %>
         <% else %>
         <%= link_to question.getfilename(question.id, current_user.id), {controller: :sources, action: :show, :id => question.answers.find_by(user_id: current_user).source} %>
         <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', assignments_index_path %>
