<p id="notice"><%= notice %></p>


<h3>課題番号：第<%= @assignment.paper.index %>回</h3>
<h4>出題日：<%= simple_date(@assignment.paper.given_date) %></h4>

<hr>

<table class="table table-border">
  <thead>
    <tr>
      <th>問題番号</th>
      <th>設問内容</th>
      <th>要チェック</th>
      <th>ステータス</th>
      <th>Checked by</th>
      <th>提出</th>
    </tr>
  </thead>

  <tbody>
    <% @assignment.paper.questions.each do |question| %>
      <tr>
        <td><%= question.index %></td>
        <td><%= question.contents %></td>
        <td><%= question.need_check %></td>
        <td><%= question.answers.find_by(user_id: current_user).status %></td>
        <td><%= question.answers.find_by(user_id: current_user).checked_by %></td>
        <td>
        	<% if question.getfilename(question.id, current_user)=="none" %>
            <%= link_to "提出", new_source_path(id:question.id) %>
          <% else %>
            <%= link_to question.getfilename(question.id, current_user.id), {controller: :sources, action: :show, :id => question.answers.find_by(user_id: current_user).source}, class: "btn btn-default btn-sm" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to assignments_index_path, :class => "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span> Back
<% end %>