<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<p>user name=<%= @user.email%> </p>
<p>user email=<%= @user.name%> </p>
<% @user.roles.each_with_index do |r, i| %>
<p>user role[<%= i %>]=<%= r.name %> </p>
<% end %>
<p>