<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @paper.index %>
</p>

<p>
  <strong>Given date:</strong>
  <%= @paper.given_date %>
</p>

<hr>


<table border=1>
  <thead>
    <tr>
      <th>問題番号</th>
      <th>要チェック</th>
      <th>ステータス</th>
      <th>Checked by</th>
      <th>提出ファイル</th>
    </tr>
  </thead>

  <tbody>
    <% @paper.questions.each do |question| %>
      <tr>
        <td><%= question.index %></td>
        <td><%= question.need_check %></td>
        <td>hogehoge</td>
        <td>hogehoge</td>
        <td>
        	<% if question.getfilename(question.id, current_user)=="none" %>
            <%= form_for(@source, url: {controller: :sources, action: :create, answer_id: Answer.where(question_id: question).find_by(user_id: current_user)}, html: {multipart: true}) do |f| %>
            <div class="field">
              <%= f.file_field :code %>
            </div>
            <div class="actions">
              <%= submit_tag "Upload" %>
            </div>
           <% end %>
         <% else %>
         <%= link_to question.getfilename(question.id, current_user.id), {controller: :sources, action: :show, :id => question.answers.find_by(user_id: current_user).source} %>
         <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', students_index_path %>