<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @answer.status %>
</p>

<p>
  <strong>Checked by:</strong>
  <%= @answer.checked_by %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @answer.paper %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
