<div class="container-fluid" style="padding:20px 0">
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>学籍番号</th>
      <th>氏名</th>
      <% @paper.questions.each do |question| %>
      <th><%= question.index %></th>
      <% end %>
      <th>達成度</th>
    </tr>
  </thead>
  <tbody>
    <% @paper.assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.user.number %></td>
      <td><%= assignment.user.name %></td>
      <% assignment.answers.each do |answer| %>
      <td>
        <% if answer.status == "DONE"%>
        <%= link_to answer.status_to_mark, {controller: :sources, action: :show, id: answer.source.id} %>
        <% else %>
        none
        <% end %>
      </td>
      <% end %>
      <td>
        <div class="alert alert-info">
          <div class="progress"><div class="bar" style="width: <%= assignment.progress.to_s+"%" %>;"><%= assignment.progress %>%
          </div></div></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>