<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<p>user name=<%= @user.email%> </p>
<p>user email=<%= @user.name%> </p>
<p>

<% if can? :manage, @user %>
Your role is 'superadmin'.
<% elsif can? :update, @user %>
Your role is 'admin'.
<% else %>
Your role is 'member'.
<% end %>
</p>

<h1>Listing papers</h1>

<table border=1>
  <thead>
    <tr>
      <th>課題番号</th>
      <th>出題日</th>
      <th>設問数</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= link_to '第' + paper.index.to_s + '回', paper %></td>
        <td><%= paper.given_date %></td>
        <td><%= paper.questions.length %></td>
        <td><%= paper.set %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, @user %>
<%= link_to '新しい課題を作る', new_paper_path %>
<% end %>
