<h3>課題番号：<%= @paper.index %></h3>
<h4>出題日：<%= simple_date(@paper.given_date) %></h4>
<h4>出題状態：<% if @paper.set %>出題済<% else %>未出題<% end %></h4>

<br>
<% if @paper.set %>
  <%= link_to '出題を取り消す', reset_paper_path(@paper.id), method: :put, class: "btn btn-danger btn-lg" %>
<% else %>
  <%= link_to '出題する', set_paper_path(@paper.id), method: :put, class: "btn btn-primary btn-lg" %>
<% end %>

<hr>
<% if @paper.set %>

<%= render 'papers/students' %>

<% else %>
<table class="table table-hover">
  <thead>
    <tr>
    	<th>問題番号</th>
    	<th>要チェック</th>
    	<th>ポイント</th>
    	<th>質問内容</th>
    	<th colspan="2"></th>
    </tr>
</thead>
<tbody>
	<% @paper.questions.each do |question| %>
	<tr>
		<td><%= question.index %></td>
		<td><%= question.need_check %></td>
		<td><%= question.point %></td>
		<td><%= question.contents %></td>
		<td><%= link_to '編集',
                { controller: :questions,
                  action: :edit,
                  :id => question },
                  :class => "btn btn-sm btn-warning" %>
        <%= link_to '削除',
                { controller: :questions,
                  action: :destroy,
                  :id => question },
                  :data => { :confirm => 'Are you sure?' },
                  :class => "btn btn-sm btn-danger",
                  :method => 'delete' %></td>
	<% end %>
  </tr>
</tbody>
</table>
<hr>

<%= bootstrap_form_for @question, :url => {controller: :questions, action: :create, :paper_id => @paper} do |f| %> 

	<div class="field">
		<%= f.label :index %>
    <p><%= @question.index %></p>
		<%= f.hidden_field :index %>
	</div>

	<div class="field">
		<%= f.select :need_check, ["なし","教員", "学生"] %>
	</div>

	<div class="field">
		<%= f.number_field :point %>
	</div>

	<div class="field">
		<%= f.text_area :contents %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>

<% end %>
