<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @paper.index %>
</p>

<p>
  <strong>Given date:</strong>
  <%= @paper.given_date %>
</p>

<p>
  <strong>Set:</strong>
  <%= @paper.set %>
</p>

<hr>
<table border=1>
  <thead>
    <tr>
    	<th>問題番号</th>
    	<th>要チェック</th>
    	<th>ポイント</th>
    	<th>質問内容</th>
    	<th colspan="2"></th>
    </tr>
</thead>
<tbody>
	<% @paper.questions.each do |question| %>
	<tr>
		<td><%= question.index %></td>
		<td><%= question.need_check %></td>
		<td><%= question.point %></td>
		<td><%= question.contents %></td>
		<td><%= link_to '編集',
                { controller: :questions,
                  action: :edit,
                  :id => question } %></td>
        <td><%= link_to '削除',
                { controller: :questions,
                  action: :destroy,
                  :id => question},
                  :confirm => 'Are you sure?',
                  :method => 'delete' %></td>
<% #TODO: confirmされない %>
	<% end %>
    </tr>
</tbody>
</table>
<hr>

<%= form_for @question, :url => {controller: :questions, action: :create, :paper_id => @paper} do |f| %>

	<div class="field">
		<%= f.label :index %>
		<%= @question.index %>
		<%= f.hidden_field :index, :value => @question.index %>
	</div>

	<div class="field">
		<%= f.label :need_check %><br>
		<%= f.select :need_check,["なし","教職員", "学生"] %>
	</div>

	<div class="field">
		<%= f.label :point %><br>
		<%= f.number_field :point %>
	</div>

	<div class="field">
		<%= f.label :contents %><br>
		<%= f.text_area :contents %>
	</div>

	<%= submit_tag '追加' %>
<% end %>

<hr>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
